<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="mybottom">
    <meta charset="UTF-8" />
    <title>demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

</head>
<body >
<!-- FOOTER -->
<div class="footer-space"></div>
<div id="footer">
    <div class="devider-footer-left"></div>
    <div class="time">
        <p id="spanDate">
        <p id="clock">
    </div>
    <div class="copyright">
        <p>Copyright &copy; 2018.xxxxx公司 版权所有  沪ICP备1703xxx5号 </p>
    </div>
    <div class="devider-footer"></div>

</div>
<!-- / END OF FOOTER -->
</body>
</html>