<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.OwnerMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.pojo.Owner">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="oid" jdbcType="INTEGER" property="oid" />
    <result column="oname" jdbcType="VARCHAR" property="oname" />
    <result column="ophone" jdbcType="VARCHAR" property="ophone" />
    <result column="otelphone" jdbcType="VARCHAR" property="otelphone" />
    <result column="olevel" jdbcType="INTEGER" property="olevel" />
    <result column="osex" jdbcType="INTEGER" property="osex" />
    <result column="ouserid" jdbcType="INTEGER" property="ouserid" />
    <result column="oaddress" jdbcType="LONGVARCHAR" property="oaddress" />
    <result column="ocontent" jdbcType="LONGVARCHAR" property="ocontent" />
  </resultMap>

</mapper>